.avatarcont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.avatar {
    margin-bottom: 3px;
    padding: 0;
    /* Rounded border */
    border-radius: 50%;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Size */
    height: 5rem;
    width: 5rem;
}

.avatar__image {
    width: 50%;
}
.avatarcontprof {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.avatarprof {
    /* Rounded border */
    border-radius: 50%;

    /* Center the content */
    align-items: center;
    width: 100%;
}
.avatar__imageprof {
    margin: 4px;
    height: 30%;
    width: 30%;
    cursor: pointer;
}
