.title{
    text-align: center;
}

.logo{
    position: absolute;
    top: 17px;
    left: 30px;
    width: 50px;
}

.logonav{
    width: 50px;
    margin-right: 10px;
    animation:  rotating 2s linear infinite;
}

@keyframes rotating {
    0%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-30deg);
    }


}
