.avatarcont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.avatar {
    padding: 0;
    /* Rounded border */
    border-radius: 50%;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Size */
    height: 3rem;
    width: 3rem;
    margin-bottom: 4px;
}

.avatar__image {
    height: 50%;
    width: 50%;
    cursor: pointer;
}